<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being edited:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
    <div class="user_data">
        <%= form.label(:username, "Username: ")%>
        <%= form.text_field :username %><br />
    </div>

    <div class="user_data">
        <%= form.label(:password, "Password: ")%>
        <%= form.password_field(:password, placeholder: "123..") %>
    </div>

    <div class="user_data">
        <%= form.label(:email, "Email: ")%>
        <%= form.email_field(:email, placeholder: "example@example.com") %>
    </div>

    <div class="submit_button">
        <%= form.submit %>
    </div>
<% end %>
