<%# <h1>Users#new</h1> %>
<%# <p>Find me in app/views/users/new.html.erb</p> %>

<%# <div class="form_container">

    <div class="salutations">
        <p>Welcome New User!</p>
        <p>Please, register below:</p>
    </div>

    <form action="/users" method="post" accept-charset="UTF-8">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token @">

        <p>
            <label for="username">Username: </label>
            <input type="text" name="user[username]" id="username">
        </p>


        <p>
            <label for="password">Password: </label>
            <input type="password" name="user[password]" id="password">
        </p>

        <p>
            <label for="email">Email: </label>
            <input type="email" name="user[email]" id="email">
        </p>

        <div class="submit_button">
            <button type="submit">Create Account!</button>
        </div>

    </form>
</div> %>

<%# Comment the block. Delete this and last end %>
<%  if false %>
<%= form_tag("/users", method: "post") do %>
    <div class="salutations">
        <p>Welcome New User!</p>
        <p>Please, register below:</p>
    </div>

    <div>
        <%= label_tag(:username, "Username: ") %>
        <%= text_field_tag(:username) %>
    </div>

    <div>
        <%= label_tag(:username, "Password: ") %>
        <%= password_field_tag(:password) %>
    </div>

    <div>
        <%= label_tag(:email, "E-mail: ") %>
        <%= email_field_tag(:email) %>
    </div>

    <div>
        <%= submit_tag("Register") %>
    </div>
<% end %>
<% end %>
<%# Here finishes the block %>



